@charset "UTF-8";

body
{
    background-color: #fde7e7;
}
@media only screen and (max-width: 300px) {
    body {
      text-align: 100px;
    }
  }

img
{
    width: 100px;
}

p
{
    text-align: justify;
    text-indent: 50px;
}

h1
{
    text-align: center;
}
h2
{
    text-align: center;
}
h3
{
    text-align: center;
}

div#interface
{
    width: 90%;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px;
}